Package: python-isodate
Version: 0.6.0
Description: Python library for ISO 8601 date and time parser
Architecture: all
Section: devel/python
Priority: optional
Depends: python-core
OE: python-isodate
License: BSD License
Maintainer: gweis
Homepage: https://github.com/back-to/ipk
Source: https://github.com/gweis/isodate/
